.pageBackground {
    position: fixed;
    inset: 0;
    background: rgb(236, 248, 252);
    
    z-index: -10;
    pointer-events: none;
}

.Decoration1::before,
.Decoration2::before,
.Decoration3::before,
.Decoration4::before,
.Decoration4::after,
.Decoration5::before,
.Decoration5::after,
.Decoration6::before {
    content: "";
    position: fixed;
    background: transparent;

    pointer-events: none;
    z-index: -1;
    filter: blur(2px);
}

.Decoration1::before {
    width: 1400px;
    top: 380px;
    bottom: 0;

    right: 135px;
    border-radius: 28px;
    border: 1px solid rgba(120, 200, 230, 0.7);
}

.Decoration2::before {
    width: 1000px;
    height: 1000px;
    top: 470px;
    right: 111px;

    border-radius: 28px;
    border: 1px solid rgba(120, 200, 230, 0.7);
    transform: rotate(100deg);
}

.Decoration3::before {
    width: 800px;
    height: 700px;
    top: 630px;
    right: 520px;

    border-radius: 28px;
    border: 1px solid rgba(120, 200, 230, 0.7);
    transform: rotate(150deg);
}

.Decoration4::before {
    width: 400px;
    height: 400px;
    top: -10px;
    left: -28px;

    border-radius: 20px;
    transform: rotate(14.5deg);
    border: 1px solid rgba(188, 105, 132, 0.7);
}

.Decoration4::after {
    width: 500px;
    height: 400px;
    top: -10px;
    left: -30px;

    border-radius: 18px;
    transform: rotate(160deg);
    border: 1px solid rgba(188, 105, 132, 0.7);
}

.Decoration5::before {
    width: 230px;
    height: 200px;
    top: -30px;
    left: -50px;

    border-radius: 5px;
    transform: rotate(120deg);
    border: 1px solid rgba(188, 105, 132, 0.7);
}

.Decoration5::after {
    width: 260px;
    height: 200px;
    top: -27px;

    right: -50px;
    border-radius: 8px;

    filter: blur(1px);
    transform: rotate(125deg);
    border: 1px solid rgba(188, 105, 132, 0.7);
}

.Decoration6::before {
    width: 360px;
    height: 340px;
    top: -20px;
    right: -40px;

    border-radius: 10px;
    transform: rotate(153deg);
    border: 1px solid rgba(188, 105, 132, 0.7);
}

.wrapper::before,
.wrapper::after,
.main::before,
.main::after,
.section::before,
.section::after,
.section2::before,
.section2::after {
    content: "";
    position: fixed;
    pointer-events: none;
    filter: blur(12px);
}

.wrapper::before {
    top: 380px;
    left: -70vw;
    width: 200vw;
    height: 200px;

    background: linear-gradient(179deg, rgba(188, 105, 132, 0.18), rgba(230, 206, 214, 0.14), rgba(136, 70, 96, 0.16), rgba(76, 24, 40, 0.14), rgba(46, 16, 26, 0.12));
    transform: rotate(30deg);
    z-index: -10;
}

.wrapper::after {
    top: 480px;
    left: -70vw;
    width: 200vw;
    height: 300px;

    background: linear-gradient(rgba(169, 57, 94, 0.16), rgba(232, 205, 214, 0.12), rgba(173, 96, 119, 0.14), rgba(158, 55, 89, 0.12));
    transform: rotate(28deg);
    z-index: -6;
}

.main::before {
    bottom: 270px;
    left: -70vw;
    width: 200vw;
    height: 110px;

    background: linear-gradient(rgba(38, 124, 158, 0.16), rgba(120, 200, 230, 0.14), rgba(60, 130, 158, 0.12));
    transform: rotate(33.5deg);
    z-index: -5;
}

.main::after {
    bottom: 2px;
    left: -120vw;
    width: 300vw;
    height: 200px;

    background: linear-gradient(180deg, rgba(72, 24, 38, 0.14), rgba(188, 102, 130, 0.12), rgba(220, 192, 201, 0.10));
    transform: rotate(30.5deg);
    z-index: -5;
}

.section::before {
    bottom: 330px;
    left: -90vw;
    width: 200vw;
    height: 37px;

    background: linear-gradient(rgba(120, 200, 230, 0.20), rgba(60, 130, 158, 0.18));
    transform: rotate(42deg);
    z-index: -2;
}

.section::after {
    bottom: 110px;
    left: -100vw;
    width: 200vw;
    height: 200px;

    background: linear-gradient(180deg, rgba(96, 42, 58, 0.14), rgba(220, 132, 162, 0.12));
    transform: rotate(31.5deg);
    z-index: -2;
}

.section2::before {
    bottom: 150px;
    left: -112vw;
    width: 200vw;
    height: 200px;

    background: linear-gradient(180deg, rgba(30, 95, 120, 0.14), rgba(120, 200, 230, 0.12));
    transform: rotate(38.5deg);
    z-index: -2;
}

.section2::after {
    bottom: 200px;
    left: -90vw;
    width: 200vw;
    height: 100px;

    background: linear-gradient(180deg, rgba(28, 88, 110, 0.16), rgba(120, 200, 230, 0.12));
    transform: rotate(38.5deg);
    z-index: -4;
}
